# Turn rewriting on
Options +FollowSymLinks
RewriteEngine On
# Redirect requests to route.php
RewriteCond %{REQUEST_URI} !=/route.php
RewriteCond %{REQUEST_URI} !.*\.png$ [NC]
RewriteCond %{REQUEST_URI} !.*\.jpg$ [NC]
RewriteCond %{REQUEST_URI} !.*\.css$ [NC]
RewriteCond %{REQUEST_URI} !.*\.gif$ [NC]
RewriteCond %{REQUEST_URI} !.*\.js$ [NC]
RewriteRule .* /route.php

AddDefaultCharset utf-8
